<div class="row col-lg-6">
    <div class="form-group col-lg-12">
        <h3>2. Custome Filter Application</h3>
    </div>
    <div class="form-group col-lg-12">
        <h3>A. Date Formatting</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>
                <label>Date input :</label>
            </td>
            <td>
                <input type="date" ng-model="myDate">
            </td>
        </tr>
            <tr>
                <td>
                    <label>Date in Year-Month-Day Format(eg: 2017 Jan 17) :</label>
                </td>
                <td>
                    </label> <label>{{myDate| date:"y MMM, d"}}</label>
                </td>
            </tr>

    </table>
    <div class="form-group col-lg-12">
        <h3>B. CamelCase letter to Regualar form</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>
                <label>Type camelCase text :</label>
            </td>
            <td>
                <input type="text" ng-model="my_text">
            </td>
        <tr>
            <td>
                <button ng-click="camelCase()" class="btn btn-success">Convert</button>
            </td>
            <td>
                <label><input type="text" value="{{camelcase}}"/> </label>
            </td>
        </tr>
        </tr>
    </table>
    <div class="form-group col-lg-12">
        <h3>C. Compare user input date to current date</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>
                <label>User Date input :</label>
            </td>
            <td>
                <input type="datetime-local" ng-model="date">
            </td>
        </tr>
        <tr>
            <td>
                <label>Current Date  :</label>
            </td>
            <td>
                {{today|date:'MMM, d y hh:mm:ss'}} sec
            </td>
        </tr>
        <tr>
            <td>
                <label><button class="btn btn-success" ng-click="dateDifferrence(date)">View Difference </button> </label>
            </td>
            <td>
                <label> {{differnce}}</label>
            </td>
        </tr>
    </table>

</div>
    <br>
    <div class="row col-lg-12">
        <div class="form-group col-lg-12">
            <h3>D. Grouping Events By Date and Time </h3>
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                <h3> Original Data</h3>
            </div>
            <table class="table table-bordered">
                <tr style="background-color: #3c763d;color: white">
                    <td>Date</td>
                    <td>Task</td>
                </tr>
                <tr ng-repeat="item in  array">
                    <td>
                        <label>{{item.date | date :'MMM/d/y'}}</label>
                    </td>
                    <td>
                        <label>{{item.event}}</label>
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-lg-6">
            <!---->
            <div class="form-group">
                <h3>Sorted Data</h3>
            </div>
            <table class="table table-bordered">
                <tr style="background-color: #3c763d;color: white">
                    <td>Date</td>
                    <td>Events</td>
                </tr>
                <tr ng-repeat="(key, value) in array  |orderBy:'date.slice(0,10)'| groupBy:'date.slice(0,10)'">
                    <td>{{key.slice(0,10)}}</td>
                    <td> <ul>
                        <li ng-repeat="data in value| orderBy:'date.slice(10)'">{{data.date.slice(10)}} : {{data.event}}</li>
                    </ul></td>
                </tr>
            </table>

        </div>

</div>